---
import ButtonLink from "@/components/common/ButtonLink.astro";
import WidgetLayout from "@/components/common/WidgetLayout.astro";
import I18nKey from "@/i18n/i18nKey";
import { i18n } from "@/i18n/translation";
import type { WidgetComponentConfig } from "@/types/config";
import { getCategoryList } from "@/utils/content-utils";
import { url } from "@/utils/url-utils";

const allCategories = await getCategoryList();
const categories = allCategories.slice(0, 5);

interface Props {
	class?: string;
	style?: string;
	widgetConfig?: WidgetComponentConfig;
}
const { class: className, style, widgetConfig } = Astro.props;

const showTitle = widgetConfig?.showTitle !== false;
---

<WidgetLayout name={i18n(I18nKey.categories)} showTitle={showTitle} id="categories" isCollapsed={false} class={className} style={style}>
    {categories.map((c) =>
        <ButtonLink
            url={c.url}
            badge={String(c.count)}
            label={`View all posts in the ${c.name.trim()} category`}
        >
            {c.name.trim()}
        </ButtonLink>
    )}
    <a
        href={url("/categories/")}
        class="btn-regular rounded-lg h-10 gap-2 px-3 font-bold active:scale-95 mt-1 flex items-center justify-center text-sm text-(--primary)"
    >
        {i18n(I18nKey.more)}
    </a>
</WidgetLayout>
